# Auto detect text files and perform LF normalization
* text=auto
# Ignore 'cdn' folder from counting towards "languages"
cdn/** linguist-vendored
*.js linguist-language=TypeScript
*.cjs linguist-language=TypeScript
*.mjs linguist-language=TypeScript